@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
  }
  
.log-in-details {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f27c56;  
  } 

  form {
    display: block;
    position: center;
  }
  
  /* form:after {
    content: '';
    display: block;
    align-self: center;
    position: absolute;
    top: -20px;
    left: .20px;
    right: -20px;
    bottom: -20px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #f27c56, #2F80ED);
  } */
  
  form .form-inner{
    position: relative;
    display: block;
    background-color: #FFF;
    padding: 30px;
    z-index: 2;
  }
  
  form .form-inner .form-group {
    display: block;
    width: 300px;
    margin-bottom: 15px;
  }
  
  form .form-inner .form-group label {
    display: block;
    color: #666;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
  }
  
  form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  }
  
  form .form-inner button[type="submit"] {
  display: inline-block;
  padding: 2px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #020024 50%, #8989a3 50%, #00d4ff);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
  }
  
  form .form-inner button[type="submit"]:hover {
    background-position: 100% 0%;
  }

  

